[Unit]
Description=Flask API Server
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/www
ExecStart=/usr/bin/python3 /home/pi/www/api_server.py
Restart=always

[Install]
WantedBy=multi-user.target
